In [108]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.datasets import make_blobs
from faker import Faker

In [109]:
df = pd.read_csv("data.csv")

In [110]:
df.shape

(1877, 19)

In [111]:
df.head(10)

,ID,Name of Business,Short Description,Address,City,State,Postcode,Phone Number,Which type of business is this?,Business Website or Other URL,Borough,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA
0,1,"C to C Tile, inc",Tile Designs and Solutions,48 west 21st st,New York,NY,10024,(347) 820-2113,Retail,http://www.ctoctile.com,MANHATTAN,40.740915,-73.992083,5.0,3.0,54.0,1015510.0,1.008220e+09,Hudson Yards-Chelsea-Flatiron-Union Square ...
1,2,Con Artist Collective,Art Gallery and Collective,119 Ludlow st.,New York,NY,10002,(646) 504-2323,Retail,http://conartistnyc.com,MANHATTAN,40.719585,-73.988618,3.0,1.0,18.0,1005315.0,1.004100e+09,Chinatown ...
2,3,Coffee Project New York,Coffee Shop,239 E 5th Street,New York,NY,10003,(212) 228-7888,Food and Beverage,http://www.coffeeprojectny.com,MANHATTAN,40.727345,-73.990305,3.0,2.0,38.0,1006629.0,1.004610e+09,East Village ...
3,4,Golden Bridge Yoga,Kundalini Yoga Studio and Holistic Store with ...,253 Centre Street,New York,NY,10013,(212) 343-8191,Service,http://www.goldenbridgeyoga.com,MANHATTAN,40.720478,-73.997962,2.0,1.0,45.0,1007004.0,1.004720e+09,SoHo-TriBeCa-Civic Center-Little Italy ...
4,5,Three Guys from Brooklyn,Grocery store featuring Fresh Fruit and Vegeta...,6502 Fort Hamilton Pkwy,Brooklyn,NY,11219,(718) 748-8340,Retail,http://www.3guysfrombrooklyn.com,BROOKLYN,40.630553,-74.009360,10.0,38.0,120.0,3328767.0,3.057500e+09,Sunset Park East ...
5,6,NYC iRepair,iPhone Repair Shop,147 West 35th St Suite 1206,New York,NY,10001,(212) 777-6955,Service,http://www.nycirepair.com,MANHATTAN,40.751123,-73.988844,5.0,3.0,109.0,1015224.0,1.008110e+09,Midtown-Midtown South ...
6,7,Macaron Parlour - Columbus,Bakery,560 Columbus Ave.,New York,NY,10024,(212) 799-9169,Food and Beverage,http://www.macaronparlour.com,MANHATTAN,40.787312,-73.971587,7.0,6.0,173.0,1032246.0,1.012188e+09,Upper West Side ...
7,8,Meow Parlour,Cat Cafe,46 Hester Street,New York,NY,10002,(212) 387-9169,Other,http://www.meowparlour.com,MANHATTAN,40.715680,-73.990203,3.0,1.0,16.0,1003810.0,1.002970e+09,Chinatown ...
8,9,Macaron Parlour - Hester,Bakery,44 Hester Street,New York,NY,10002,(212) 387-9169,Food and Beverage,http://www.macaronparlour.com,MANHATTAN,40.715655,-73.990123,3.0,1.0,16.0,1003811.0,1.002970e+09,Chinatown ...
9,10,Mystery Room NYC,Escape Room,190 Mercer Street,New York,NY,10012,(302) 401-1373,Service,http://www.mysteryroomnyc.com,MANHATTAN,40.726300,-73.997175,2.0,1.0,5501.0,1008239.0,1.005230e+09,West Village ...

In [112]:
fake = Faker()
price_tag = list()
for i in range(1877):
    price_tag.append(fake.random_int(0,5))
df["Price Tag"] = price_tag

rate = list()
for i in range(1877):
    rate.append(fake.random_int(1,5))
df["Ratings"] = rate

In [113]:

df.head(5)

,ID,Name of Business,Short Description,Address,City,State,Postcode,Phone Number,Which type of business is this?,Business Website or Other URL,...,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA,Price Tag,Ratings
0,1,"C to C Tile, inc",Tile Designs and Solutions,48 west 21st st,New York,NY,10024,(347) 820-2113,Retail,http://www.ctoctile.com,...,40.740915,-73.992083,5.0,3.0,54.0,1015510.0,1.008220e+09,Hudson Yards-Chelsea-Flatiron-Union Square ...,4,4
1,2,Con Artist Collective,Art Gallery and Collective,119 Ludlow st.,New York,NY,10002,(646) 504-2323,Retail,http://conartistnyc.com,...,40.719585,-73.988618,3.0,1.0,18.0,1005315.0,1.004100e+09,Chinatown ...,4,3
2,3,Coffee Project New York,Coffee Shop,239 E 5th Street,New York,NY,10003,(212) 228-7888,Food and Beverage,http://www.coffeeprojectny.com,...,40.727345,-73.990305,3.0,2.0,38.0,1006629.0,1.004610e+09,East Village ...,4,2
3,4,Golden Bridge Yoga,Kundalini Yoga Studio and Holistic Store with ...,253 Centre Street,New York,NY,10013,(212) 343-8191,Service,http://www.goldenbridgeyoga.com,...,40.720478,-73.997962,2.0,1.0,45.0,1007004.0,1.004720e+09,SoHo-TriBeCa-Civic Center-Little Italy ...,4,4
4,5,Three Guys from Brooklyn,Grocery store featuring Fresh Fruit and Vegeta...,6502 Fort Hamilton Pkwy,Brooklyn,NY,11219,(718) 748-8340,Retail,http://www.3guysfrombrooklyn.com,...,40.630553,-74.009360,10.0,38.0,120.0,3328767.0,3.057500e+09,Sunset Park East ...,0,1

In [114]:
#Find columns with Nans in them
print("Columns with missing values: ")
print(df.columns[df.isnull().any()].tolist())

Columns with missing values:
['Short Description', 'Postcode', 'Phone Number', 'Business Website or Other URL', 'Borough', 'Latitude', 'Longitude', 'Community Board', 'Council District', 'Census Tract', 'BIN', 'BBL', 'NTA']

In [115]:
print(df.isnull().sum())

ID                                   0
Name of Business                     0
Short Description                    8
Address                              0
City                                 0
State                                0
Postcode                            18
Phone Number                       229
Which type of business is this?      0
Business Website or Other URL      403
Borough                             81
Latitude                            81
Longitude                           81
Community Board                     81
Council District                    81
Census Tract                        81
BIN                                100
BBL                                100
NTA                                 81
Price Tag                            0
Ratings                              0
dtype: int64

In [116]:
most_frequent_bbl = df['BBL'].value_counts().idxmax()
df['BBL'] = df['BBL'].fillna(most_frequent_bbl)
most_frequent_nta = df['NTA'].value_counts().idxmax()
df['NTA'] = df['NTA'].fillna(most_frequent_nta)

In [117]:
print(df.isnull().sum())

ID                                   0
Name of Business                     0
Short Description                    8
Address                              0
City                                 0
State                                0
Postcode                            18
Phone Number                       229
Which type of business is this?      0
Business Website or Other URL      403
Borough                             81
Latitude                            81
Longitude                           81
Community Board                     81
Council District                    81
Census Tract                        81
BIN                                100
BBL                                  0
NTA                                  0
Price Tag                            0
Ratings                              0
dtype: int64

In [118]:
#print("Before dropping - " + str(len(df)) + " rows")
#df = df[~df['Business Website or Other URL','Community #Board','Sensus Tract','BIN','BBL','NTA'].isna()]
#print("After dropping - " + str(len(df)) + " rows")
df.drop(df.columns[[8,12,14,15,16,17]],axis =1,inplace=True)

In [119]:
print(df.isnull().sum())

ID                                 0
Name of Business                   0
Short Description                  8
Address                            0
City                               0
State                              0
Postcode                          18
Phone Number                     229
Business Website or Other URL    403
Borough                           81
Latitude                          81
Community Board                   81
NTA                                0
Price Tag                          0
Ratings                            0
dtype: int64

In [120]:
most_frequent_bor = df['Borough'].value_counts().idxmax()
df['Borough'] = df['Borough'].fillna(most_frequent_bor)

In [121]:
print(df.isnull().sum())

ID                                 0
Name of Business                   0
Short Description                  8
Address                            0
City                               0
State                              0
Postcode                          18
Phone Number                     229
Business Website or Other URL    403
Borough                            0
Latitude                          81
Community Board                   81
NTA                                0
Price Tag                          0
Ratings                            0
dtype: int64

In [122]:
##Simple Recommender : offer generalized recommendations to every user, based on movie popularity and/or genre. The basic idea behind this system is that movies that are more popular and critically acclaimed will have a higher probability of being liked by the average audience. An example could be IMDB Top 250.

#Creating a column "No of Votes" for a particular store
NumVotes = list()
for i in range(1877):
    NumVotes.append(fake.random_int(0,10000))
df["Number of Votes"] = NumVotes

import random

AvgRate = list()
for i in range(1877):
    AvgRate.append(random.uniform(0.0,5.0))
df["Average Rating"] =  AvgRate

In [123]:
df.head(5)

,ID,Name of Business,Short Description,Address,City,State,Postcode,Phone Number,Business Website or Other URL,Borough,Latitude,Community Board,NTA,Price Tag,Ratings,Number of Votes,Average Rating
0,1,"C to C Tile, inc",Tile Designs and Solutions,48 west 21st st,New York,NY,10024,(347) 820-2113,http://www.ctoctile.com,MANHATTAN,40.740915,5.0,Hudson Yards-Chelsea-Flatiron-Union Square ...,4,4,4338,1.807128
1,2,Con Artist Collective,Art Gallery and Collective,119 Ludlow st.,New York,NY,10002,(646) 504-2323,http://conartistnyc.com,MANHATTAN,40.719585,3.0,Chinatown ...,4,3,5938,1.796073
2,3,Coffee Project New York,Coffee Shop,239 E 5th Street,New York,NY,10003,(212) 228-7888,http://www.coffeeprojectny.com,MANHATTAN,40.727345,3.0,East Village ...,4,2,5379,4.117318
3,4,Golden Bridge Yoga,Kundalini Yoga Studio and Holistic Store with ...,253 Centre Street,New York,NY,10013,(212) 343-8191,http://www.goldenbridgeyoga.com,MANHATTAN,40.720478,2.0,SoHo-TriBeCa-Civic Center-Little Italy ...,4,4,2270,2.943465
4,5,Three Guys from Brooklyn,Grocery store featuring Fresh Fruit and Vegeta...,6502 Fort Hamilton Pkwy,Brooklyn,NY,11219,(718) 748-8340,http://www.3guysfrombrooklyn.com,BROOKLYN,40.630553,10.0,Sunset Park East ...,0,1,6598,2.361853

In [124]:
#C is the mean vote across the whole report.
c = df["Average Rating"].mean()
c

2.4320374036550048

In [125]:
# Calculate the minimum number of votes required to be in the list, m
m = df["Number of Votes"].quantile(0.75)
m

7415.0

In [126]:
# Filter out all qualified stores into a new DataFrame
q_stores = df.copy().loc[df['Number of Votes'] >= m]
q_stores.shape
q_stores.head(3)

,ID,Name of Business,Short Description,Address,City,State,Postcode,Phone Number,Business Website or Other URL,Borough,Latitude,Community Board,NTA,Price Tag,Ratings,Number of Votes,Average Rating
6,7,Macaron Parlour - Columbus,Bakery,560 Columbus Ave.,New York,NY,10024,(212) 799-9169,http://www.macaronparlour.com,MANHATTAN,40.787312,7.0,Upper West Side ...,1,1,8171,0.895808
11,12,Charmar Superette,Corner Store,85 Stuyvesant Place,Staten Island,NY,10301,(718) 981-4638,NaN,STATEN IS,40.643865,1.0,West New Brighton-New Brighton-St. George ...,2,3,8789,0.237420
14,15,Dental Smiles Unlimited,Dentist,2100 Bartow Avenue,Bronx,NY,10475,NaN,http://WWW.DENTALSMILESUNLIMITED.COM,BRONX,40.869429,10.0,Co-op City ...,4,2,7961,3.150889

In [127]:
#Next and the most important step is to calculate the weighted rating for each qualified movie
# Function that computes the weighted rating of each movie
def weighted_rating(x, m=m, C=c):
    v = x['Number of Votes']
    R = x['Average Rating']
    # Calculation
    return (v/(v+m) * R) + (m/(m+v) * C)

In [128]:
q_stores["score"] = q_stores.apply(weighted_rating, axis =1)

In [129]:
#Sort stores based on score calculated above
q_stores = q_stores.sort_values('score', ascending=False)

In [130]:
#Finally, let's sort the DataFrame in descending order based on the score feature column and output the title, vote count, vote average, and weighted rating (score) of the top 20 movies.
#Sort movies based on score calculated above
q_stores = q_stores.sort_values('score', ascending=False)

#Print the top 15 movies
q_stores.head(20)

,ID,Name of Business,Short Description,Address,City,State,Postcode,Phone Number,Business Website or Other URL,Borough,Latitude,Community Board,NTA,Price Tag,Ratings,Number of Votes,Average Rating,score
871,869,Champion Coffee,Coffee Shop,142 Nassau Avenue,Brooklyn,NY,11222,(718) 383-3251,http://www.championcoffee.net,BROOKLYN,40.724800,1.0,Greenpoint ...,1,4,9886,4.924811,3.856438
604,604,DOG & CO.,Pet Specialty Shop,1000S Eighth Avenue,New York,NY,10019,NaN,http://www.shopdogandco.com,MANHATTAN,40.766819,4.0,Clinton ...,5,1,9445,4.914616,3.822782
1434,1435,Corkscrew Wines Brooklyn,"""Wine shop focusing on female wine producers""",489 Myrtle Avenue,Brooklyn,NY,NaN,(718) 230-9463,http://Www.corkscrewbrooklyn.com,MANHATTAN,NaN,NaN,SoHo-TriBeCa-Civic Center-Little Italy ...,3,2,9701,4.884567,3.822081
1056,1054,Fung Tu,Chinese-American Restaurant,22 Orchard Street,New York,NY,10002,NaN,http://fungtu.com,MANHATTAN,40.715430,3.0,Chinatown ...,1,1,9836,4.824597,3.796203
1180,1179,The Brooklyn Greenery,Smoothie shop,560 Flatbush Avenue,Brooklyn,NY,11225,(347) 240-0986,http://bkgreenery.com,BROOKLYN,40.660177,9.0,Prospect Lefferts Gardens-Wingate ...,5,4,8449,4.973399,3.785540
1227,1226,The Fat Cardinal Bakery,Bakery,9610 Rockaway Beach Blvd,Rockaway,NY,11692,(347) 989-4322,http://www.fatcardinalbakery.com,QUEENS,40.585233,14.0,Breezy Point-Belle Harbor-Rockaway Park-Broad ...,3,2,9032,4.880014,3.776363
1232,1231,Twin Grocery & Salad Bar,Deli,15 Westchester Square,Bronx,NY,10461,(718) 824-1313,NaN,BRONX,40.841360,10.0,Van Nest-Morris Park-Westchester Square ...,4,1,8482,4.947481,3.774177
1176,1175,ZoomThru,Parking Data Distribution,335 Madison Avenue,Manhattan,NY,10017,(413) 347-0090,http://Www.zoomthru.co,MANHATTAN,40.753715,5.0,Midtown-Midtown South ...,3,5,9233,4.836866,3.765758
587,587,AAAS Services,"Web Design, Marketing for small businesses & N...",178 Columbus Avenue,New York,NY,10023,(917) 410-0154,NaN,MANHATTAN,40.774762,7.0,Lincoln Square ...,1,2,9921,4.762308,3.765598
1802,1803,Filtered Coffee,"""Local coffee shop offering pastries and light...",4300 Broadway,New York,NY,10033,(917) 475-1120,https://m.facebook.com/FilteredNewYork,MANHATTAN,40.851482,12.0,Washington Heights North ...,5,1,8038,4.975974,3.755286
1799,1800,Expo 2000,"""Women's clothing store""",2856-2866 Third Avenue,Bronx,NY,10455,(718) 292-5505,https://www.facebook.com/9jsouthbronx/,BRONX,40.816212,1.0,Melrose South-Mott Haven North ...,3,4,9079,4.825912,3.749728
1311,1311,Sundaes By The Park,NaN,3512 Avenue S,Brooklyn,NY,11234,(718) 787-1104,https://www.facebook.com/Sundaes-By-The-Park-C...,BROOKLYN,40.609374,18.0,Georgetown-Marine Park-Bergen Beach-Mill Basin...,0,1,9415,4.786126,3.748956
537,537,Brooklyn Bell,Ice cream shop,843 Classon Avenue,Brooklyn,NY,11238,(718) 309-2631,http://www.brooklynbell.com/,BROOKLYN,40.671966,8.0,Crown Heights North ...,4,5,7947,4.975299,3.747706
225,225,Irish Haven,Pub,5721 Fourth Avenue,Brooklyn,NY,11220,(718) 439-9893,https://www.facebook.com/pages/Irish-Haven/561...,BROOKLYN,40.642380,7.0,Sunset Park West ...,0,3,9349,4.782708,3.742967
1263,1262,Yudi Salon,Salon,2710 East Tremont Avenue,Bronx,NY,10461,(347) 621-4360,NaN,BRONX,40.842570,10.0,Van Nest-Morris Park-Westchester Square ...,2,5,9473,4.762245,3.739123
1393,1394,Lice Busters,Hair Salon,145 Sterling Place,Brooklyn,NY,11217,(347) 276-0016,http://www.licebustersnyc.com,BROOKLYN,40.676929,6.0,Prospect Heights ...,0,1,9527,4.712394,3.714351
124,125,Crom Physical Culture,Gym/Physical Fitness Center,217 Beach 92nd Street,Far Rockaway,NY,11693,(718) 945-1700,http://www.crompc.com,QUEENS,40.586615,14.0,Hammels-Arverne-Edgemere ...,2,2,9328,4.731758,3.713277
710,711,Treshers,Scuba diving shop,186 Robin Road,Staten Island,NY,10305,(718) 442-4402,https://www.facebook.com/Treshers/,STATEN IS,40.592683,2.0,Grasmere-Arrochar-Ft. Wadsworth ...,2,5,9227,4.742361,3.712974
1401,1402,Gnarly Vines,"""Neighborhood Wine and Spirits shop""",350 Myrtle Avenue,Brooklyn,NY,11205,(718) 797-3183,http://www.gnarlyvines.com,BROOKLYN,40.693222,2.0,Fort Greene ...,4,2,8354,4.838152,3.706733
899,899,City Brewshop LLC,"""Beer hobby retail and service shop""",700 Washington Avenue,Brooklyn,NY,11238,NaN,http://www.bitterandesters.com,BROOKLYN,40.677036,8.0,Prospect Heights ...,3,1,8778,4.769634,3.699216